body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 0px ;
    background-color: black;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;

    display: block;
    border: 2px solid rgb(255, 255, 255);
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 40px;
}

header nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 10px;

    background-color: transparent;   /* ✅ ลบพื้นหลัง */
    border: none;                    /* ✅ ลบกรอบ (border) */
    outline: none;                   /* ✅ ลบกรอบจากการ focus (เมื่อคลิกหรือ tab เข้า) */
    
}

.navbar {
    width: 100%;
    background-color: #e0e0e0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.navbar nav {
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.Set-Picture {
    width: 220px;
    height: 280px;
}

.product-all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
  padding: 30px;
  margin: 0 auto;
  background-color: white;
  border: 0px solid #ccc;
  text-align: center;
}

.Product-block {
  background-color: #f0f0f0;            /* ✅ กล่องสีเทาอ่อน */
  border: 2px solid #ccc;               /* กรอบเทาจาง */
  border-radius: 10px;                    /* มุมมน */

  padding: 15px;
  height: 410px;
  width: 220px;

}